.item__wrap {
  text-transform: uppercase;

  display: grid;
  grid-template-columns: 50% 50%;
}

.item {
  --base: 7vh;
  --interval: 9vh;
  padding: 1rem;
  margin: 1rem 0;
  cursor: pointer;
  width: 100%;
  position: relative;
  flex: none;
  will-change: transform, opacity;
}

.item__img {
  width: 100%;
  border-radius: 12px;
  will-change: transform;
}

.item__caption__title {
  font-size: inherit;
}

.item__caption__description {
  display: none;
}

.external::after {
  content: "↗";
  padding-left: 2px;
  position: absolute;
  width: 8.5em;
  height: 2em;
}

@media screen and (min-width: 53em) {
  .item__wrap {
    height: 100vh;
    display: flex;
    overflow: hidden;
    width: 100vw;
    position: relative;
    justify-content: flex-start;
    align-items: center;
  }
  .item {
    width: 22vw;
    padding: 0;
    margin: auto 2vw var(--base);
  }
  .item:nth-child(2) {
    margin-bottom: calc(var(--base) + var(--interval));
  }

  .item:nth-child(3) {
    margin-bottom: calc(var(--base) + var(--interval) * 2);
  }

  .item:nth-child(4) {
    margin-bottom: calc(var(--base) + var(--interval) * 3);
  }

  .item__caption__description {
    display: block;
  }
}
